.navbar{
    background:rgb(73, 72, 72) !important;
}

.bg-dark {
    background:rgb(73, 72, 72) !important;
}
.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

#map{
    height: 450px;
}
@media (min-width: 768px) { 
    .card-img-top {
        height: 32vh;
    }

    #map{
        height: 100%;
    }
 }